@use "./_variables" as *;

@mixin degug-container{
    min-height: 150px;
};

@mixin container {
    width: 1200px;
    margin: 0 auto;
};

@mixin flex-container {
    display: flex;
    justify-content: space-between;
};

@mixin nav-text {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}